services:
   typesense:
    image: typesense/typesense:29.0
    restart: unless-stopped
    ports:
      - "8108:8108"
    volumes:
      - typesense_data:/data
    command: '--data-dir /data --api-key=xyz --enable-cors'

   dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly
    volumes:
      - dragonfly_data:/data
    ports:
      - "6379:6379"

 
volumes:
  typesense_data:
  dragonfly_data:
